<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spotfire.Dxp.Data" publicKeyToken="789861576bd64dc5" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-31.0.11417.3506" newVersion="31.0.11417.3506" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spotfire.Dxp.Application" publicKeyToken="789861576bd64dc5" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-31.0.11417.3506" newVersion="31.0.11417.3506" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spotfire.Dxp.Framework" publicKeyToken="789861576bd64dc5" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-30.0.11202.4281" newVersion="30.0.11202.4281" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>